.sectionConvert {
  max-width: 92rem;
  padding: 0 2rem;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }
  &__wrapper {
  }
  &__left {
    display: flex;
    max-width: 65%;
    min-width: 60%;
    @media only screen and (max-width: 750px) {
      max-width: initial;
      min-width: initial;
    }
    // background: blueviolet;
  }
  &__right {
    padding: 1rem;
    & > * {
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 750px) {
      max-width: 50rem;
    }
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 2rem;
  }
  @media only screen and (max-width: 750px) {
    flex-direction: row;
    align-items: initial;
    justify-content: initial;
  }
}
