.navbar {
  &__wrapper {
    padding-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__right {
    & .navlink:not(last-child) {
      margin-right: 1rem;
    }
  }
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  text-transform: capitalize;
  align-items: center;
}
.navlink {
  padding: 0.8rem 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  &__left {
    margin-right: auto;
  }
  &:not(:last-child) {
  }
  &:hover {
    color: #ffcc00;
    border-color: #ffcc00;
  }
}
