.sectionPopular {
  margin: 2rem auto;

  max-width: 92rem;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__wrapper {
  }
}
