.footer {
  max-width: 90rem;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  color: white;
  &__wrapper {
    background-color: black;
  }
}
.foot {
  &:not(:last-child) {
    margin-right: auto;
  }
  &__title {
    margin-bottom: 2rem;
  }
}
