.footer {
  max-width: 90rem;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  color: white;
  &__wrapper {
    background-color: black;
  }
}
.foot {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: auto;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    padding: 0.2rem 0.6rem;
    border-left: 1px solid transparent;
    transition: all 0.4s;
    &:hover {
      color: #ffcc00;
      border-color: #ffcc00;
    }
  }
}
