.card {
  background-color: white;
  box-shadow: 0 0 1rem rgba(black, 0.2);
  text-align: center;
  width: 23rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  @media only screen and (max-width: 750px) {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
